SMTP_USER=pixelsakk10@gmail.com
SMTP_PASS=qlrhqdsyyunerxma
SEMAPHORE_API_KEY=
SEMAPHORE_SENDER_NAME=FarmToHome

GEMINI_API_KEY=AIzaSyBTTbK1QWZnFsT_-GZAn9ZODiAF1waEAQM

# 2. Twilio (Alternative global gateway)
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_PHONE_NUMBER=

NODE_ENV=production